logfile
levels.txt
sample.txt
sample_info.txt
sampler_state.txt
posterior_sample.txt
weights.txt
StarStudded
__pycache__
*.pyc
doc/ms.aux
doc/ms.log
doc/ms.toc
doc/texput.log
doc/ms.pdf
OutputCatalogs/*
OutputImages/*
